.di1{margin-top: -100px; }
.di2{width: auto; height: auto; display: flex;margin-top: 40px;height: 90px}
.di3{margin-right: 150px;width: 95px;text-align: center;height: auto}
.di4{margin-right: 50px;width: 95px;text-align: center}
.di5{width: 550px; margin-right: 150px}
.di6{width: 550px; margin-top: px}
.b0{display: flex;margin-top: 150px;margin-right: -1250px;}
.di7{
    width: 1225px;border-bottom-color: rgba(0,0,0,0.20);border-bottom-style:solid; display: block;margin-top: 500px;margin-right: 100px;
}

.spn1{font-size: 45px ; margin-right: 150px}
.p01{font-size: 30px;font-weight: 1000}
.p02{font-size: 25px;font-weight: 300;text-align: justify}


.im2{width: 95px;}
.im1{
    width: 550px
}